*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background:linear-gradient(#5D9799,#0C2B33);
}
.container .header{
    font-size: 0.4rem;
    margin-top:2.916rem;
    display: flex;
    justify-content: center;
}
.container .boder{
    margin-left: 0.613rem;
    margin-top: 2.6666rem;
}
.container .boder .num{
    display: inline-block;
    color: rgba(245, 238, 238, 0.733);
    width: 1.583rem;
    height: 1.583rem;
    margin-left: 0.541rem;
    margin-right: 0.541rem;
    margin-bottom: 0.75rem;
    background: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.767);
    box-sizing: border-box;
    text-align: center;
}
.container .boder .zoro{
    margin-left: 3.49rem;
}
.container .boder .num:nth-child(3n){
    margin-right: 0;
}
.container .boder .num:hover{
    border: 2px solid rgba(48, 197, 61, 0.767);
}
a{
    text-decoration: none;
}
.container .footer {
    font-size: 0.41666rem;
    color: rgba(255, 255, 255, 0.705);
}
.container .footer .emCall{
    display: inline-block;
    position: absolute;
    left: 0.25rem;
    bottom: 0.27rem;
}
.container .footer .cancel{
    display: inline-block;
    position: absolute;
    right: 0.25rem;
    bottom: 0.27rem;
}
